<div class="form-signin">

  <h1>Editing user</h1>

  <%= render 'form' %>

  <!-- link_to 'Show', @user -->

  <%= link_to 'Back', me_url, :class => "btn btn-lg btn-primary top-buffer" %>

</div>
<!--this div is continuing from form-->

</div>


