<div class="form-signin">


          <h1>New story</h1>
          <%= render 'form' %>

          <%= link_to 'Back', me_url, class:"btn btn-lg btn-primary top-buffer bottom-buffer" %>
    </div>
    <!--this div is continuing form div-->

</div>


